@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 75rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  background-color: #C4C4C4;
  padding: 18px 0;
  font-weight: 400;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__wrap {
  display: flex;
  align-items: center;
}
.header__list {
  display: flex;
  align-items: center;
  margin-left: 34px;
}
.header__link {
  font-size: 24px;
}
.header__link:not(:last-child) {
  margin-right: 45px;
}
.header__phone {
  font-size: 18px;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
.footer {
  font-size: 24px;
  font-weight: 400;
}
.footer__body {
  background-color: #63858C;
  display: flex;
  padding-bottom: 40px;
  padding-top: 15px;
  padding-bottom: 25px;
  padding-left: 7px;
}
.footer__left {
  flex: 0 1 20%;
}
.footer__logo {
  margin-bottom: 25px;
}
.footer__supp {
  margin-bottom: 25px;
}
.footer__hr {
  max-width: 228px;
  height: 3px;
  width: 100%;
  background-color: #000;
  margin-bottom: 15px;
}
.footer__email {
  margin-bottom: 25px;
}
.footer__wrap {
  display: flex;
}
.footer__phone {
  margin-right: 20px;
}
.footer__phone-wrap {
  display: flex;
  flex-direction: column;
}
.footer__phone-link {
  white-space: nowrap;
}
.footer__phone-link:not(:last-child) {
  margin-bottom: 15px;
}
.footer__right {
  flex: 1 1 80%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.footer__soc-wrap {
  display: flex;
  margin-right: 50px;
}
.footer__soc-item {
  cursor: pointer;
}
.footer__soc-item:not(:last-child) {
  margin-right: 25px;
}

.page {
  background-color: #E8E8E8;
  font-weight: 400;
}
.main {
  font-weight: 400;
}
.main__body {
  display: flex;
  margin-top: 200px;
  padding-bottom: 40px;
}
.main__left {
  max-width: 624px;
  margin-right: 70px;
}
.main__title {
  font-size: 48px;
  margin-bottom: 40px;
}
.main__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}
.main__item-list {
  position: relative;
  padding-left: 20px;
  font-size: 18px;
}
.main__item-list::before {
  content: "";
  background-color: #000;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 1px;
  left: 0;
}
.main__item-list:not(:last-child) {
  margin-bottom: 10px;
}
.main__wrap {
  display: flex;
}
.main__btn {
  font-size: 24px;
  padding: 15px 19px;
  color: #fff;
  border-radius: 20px;
  margin-left: 12px;
  white-space: nowrap;
  cursor: pointer;
}
.main__btn_sales {
  background-color: #00685A;
  margin-right: 40px;
}
.main__btn_more {
  background-color: #5DD0C0;
}
.main__image {
  max-width: 100%;
}
.main__image img {
  width: 100%;
}

.market__body {
  background-color: #E8E8E8;
  padding-top: 28px;
  padding-bottom: 50px;
}
.market__wrap-agent {
  display: flex;
  align-items: center;
}
.market__image {
  max-width: 100%;
  margin-left: 50px;
  margin-right: 80px;
}
.market__image img {
  width: 100%;
}
.market__wrap-agent-text {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.market__title-agent {
  margin-bottom: 47px;
  font-size: 24px;
  font-weight: 700;
}
.market__descript-agent {
  font-size: 20px;
  line-height: 23px;
}

.why {
  font-weight: 400;
}
.why__body {
  background-color: #E8E8E8;
  padding-top: 28px;
  padding-bottom: 107px;
}
.why__title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 118px;
}
.why__title h3 {
  position: relative;
  display: inline-block;
}
.why__title h3::before {
  content: "";
  width: 250px;
  height: 1px;
  background-color: #000;
  position: absolute;
  left: -7%;
  bottom: -7px;
}
.why__items {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  justify-content: space-between;
  row-gap: 100px;
}
.why__item {
  flex: 0 1 470px;
  display: flex;
  padding-right: 27px;
}
.why__image {
  margin-right: 27px;
}
.why__title-item {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 55px;
}
.why__descript-item {
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
}

.garant__body {
  background-color: #E8E8E8;
  padding-bottom: 117px;
}
.garant__title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 70px;
}
.garant__items {
  display: flex;
  justify-content: space-between;
}
.garant__item {
  flex: 0 1 365px;
  background-color: #C4C4C4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 30px 10px;
}
.garant__item:not(:last-child) {
  margin-right: 10px;
}
.garant__image {
  margin-bottom: 20px;
}
.garant__name-card {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
}
.garant__descript {
  font-size: 18px;
}

.services__body {
  background-color: #E8E8E8;
  padding-bottom: 165px;
}
.services__title {
  font-size: 35px;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.services__title h4 {
  padding: 5px 0;
  display: inline-flex;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}
.services__items {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: space-around;
  row-gap: 100px;
}
.services__item {
  padding: 50px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  background-color: #fff;
  flex: 0 1 467px;
}
.services__item:not(:last-child) {
  margin-right: 10px;
}
.services__item-name {
  font-size: 33px;
  margin-bottom: 20px;
}
.services__descript {
  text-align: center;
  line-height: 31px;
  flex: 1 1 auto;
  font-size: 18px;
  margin-bottom: 35px;
}
.services__price {
  font-size: 24px;
  margin-bottom: 20px;
}
.services__btn-request {
  cursor: pointer;
  background-color: #34D0BA;
  font-size: 24px;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
  text-align: center;
  display: inline-flex;
}

.review__body {
  background-color: #E8E8E8;
  padding-bottom: 165px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 88px;
  text-align: center;
}
.review__items {
  padding: 0 27px;
}
.review__item {
  background-color: #C4C4C4;
  padding: 18px 20px;
}
.review__item:not(:last-child) {
  margin-bottom: 67px;
}
.review__name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 11px;
}
.review__hr {
  height: 1px;
  width: 100%;
  background-color: #000;
  margin-bottom: 29px;
}
.review__text {
  font-size: 18px;
  font-weight: 400;
}
.review__btn {
  cursor: pointer;
  display: inline-block;
  background-color: #34D0BA;
  border-radius: 63px;
  padding: 35px 29px;
  font-size: 24px;
  color: #fff;
  margin: 0 auto;
  margin-top: 88px;
}
